services:
  # Pervadiname servisą, kad atitiktų Jūsų nustatymus (DATABASE_SERVER=mysql-db)
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    # Naudojame kintamuosius iš Jūsų .env failo
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USER}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  web:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      # - /app/staticfiles
    # Nurodome, kad web servisas turi pasileisti tik po to, kai pasileis DB
    command: sh -c "python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    depends_on:
      - redis
      - mysql-db

volumes:
  mysql_data: