<header class="flex justify-between items-center py-4 px-6 bg-white border-b-4 border-blue-600">
    <div class="flex items-center">
        <button @click="open = !open" class="md:hidden p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
            <span class="sr-only">Open menu</span>
            <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 6h16M4 12h16M4 18h16" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
        <!-- Čia galima įdėti paieškos lauką, jei reikia -->
    </div>

    <div class="flex items-center">
        <div class="relative">
            <button class="relative z-10 block h-8 w-8 rounded-full overflow-hidden shadow focus:outline-none">
                <img class="h-full w-full object-cover" src="{{ request.user.profile.profile_image.url }}" alt="Jūsų profilio nuotrauka">
            </button>
        </div>
    </div>
</header>