{% load static %}
<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nomoklis{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/klaro@latest/dist/klaro.min.css" />
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-50">
    <header class="bg-white shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between items-center h-20">
                <a href="{% url 'index' %}" class="text-2xl font-bold text-gray-800">Nomoklis</a>
                <div class="flex items-center space-x-4">
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard_redirect' %}" class="text-gray-600 font-semibold hover:text-blue-600 transition">Mano Paskyra</a>
                        <a href="{% url 'account_logout' %}" class="bg-blue-600 text-white font-semibold py-2 px-5 rounded-lg hover:bg-blue-700 transition duration-300">Atsijungti</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="text-gray-600 font-semibold hover:text-blue-600 transition">Prisijungti</a>
                        <a href="{% url 'account_signup' %}" class="bg-blue-600 text-white font-semibold py-2 px-5 rounded-lg hover:bg-blue-700 transition duration-300">Registruotis</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script defer src="{% static 'js/klaro-config.js' %}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/klaro@latest/dist/klaro.min.js"></script>
</body>
</html>